<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            
    <title>Relay, {{ page.title }}</title>
    
    <meta name="description" content="Relay: the iPad app.">
    <meta name="keywords" content="iPad, App, Relay">
    <meta name="robots" content="index,follow">

    <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css">
    
    <script src="/javascripts/application.js" type="text/javascript"></script>
</head>
<body>
	<div id="wrapper">
	    <div id="header">
            <h1><a href="/">Relay</a></h1>
        </div>

        <div id="content">
            <h2>404, Not Found</h2>

            {{ content }}
            
        </div>

        <div id="footer">
            <p>All Content &copy; 2010, Team Double Gravity.</p>
        </div>
    </div>
</body>
</html>